<a href="/area/create" class="btn btn-primary float-end mt-n1"><i class="fas fa-plus"></i> Agregar</a>
<h1 class="h3 mb-3">Area</h1>

<div class="row">
    <div class="col-12">
        <div class="card border rounded-3">
            <div class="card-body" style="min-height: 500px">
                <% if (error != '') { %>
                    <div class="text-danger"><%= error %></div>
                <% } %>

                <table id="tblList" class="table table-sm table-bordered align-middle table-hover">
                    <thead>
                        <tr>
                            <th>Area</th>
                            <th>Personal</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <% if (area != null) { %>
                            <% area.forEach(function(area) { %>
                                <tr>
                                    <td><%= area.Area %></td>
                                    <td><%= area.NombreUsuario %></td>
                                    <td style="width: 1%;">
                                        <div class="dropdown">
                                            <a class="btn btn-sm btn-primary" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-ellipsis-v fa-lg"></i></a>
                                            <ul class="dropdown-menu dropdown-menu-end">
                                                <li><a href="/area/update/<%= area.Id_area %>" class="dropdown-item text-primary"><i class="fa-solid fa-pen-to-square"></i> Editar</a></li>
                                                <li><hr class="dropdown-divider"></li>
                                                <li><a href="/area/delete/<%= area.Id_area %>/" class="dropdown-item text-danger"><i class="fa-solid fa-trash"></i> Eliminar</a></li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            <% }); %>
                        <% } %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<link href="/assets/vendor/datatables/datatables-1.13.1/css/datatables.bootstrap5.min.css" rel="stylesheet" />
<script src="/assets/vendor/datatables/datatables-1.13.1/js/jquery.datatables.min.js"></script>
<script src="/assets/vendor/datatables/datatables-1.13.1/js/datatables.bootstrap5.min.js"></script>
