<div class="container">
    <div class="col-12">
        <div class="card border rounded-3">
            <div class="card-header  border-bottom p-3">
                <div class="d-sm-flex justify-content-between align-items-center">
                    <h5 class="mb-2 mb-sm-0">Normatividad básica</h5>
                    <a class="btn btn-sm btn-primary" href="/admin/normativity/create"> <i class="fa-solid fa-plus"></i>Agregar</a>
                </div>
            </div>
            <div class="card-body" style="min-height:500px">
                <div class="table-responsive border-0">
                    <table id="listTable" class="table align-middle mb-0 table-hover table-shrink">
                        <thead class="table-dark">
                            <tr>
                                <th scope="col" class="border-0 rounded-start">
                                </th>
                                <th>
                                    Title
                                </th>
                                <th>
                                    Tags
                                </th>
                                <th>
                                    Summary
                                </th>
                                <th scope="col" class="border-0 rounded-end"></th>
                            </tr>
                        </thead>
                        <tbody>
                                <% listnorm.forEach(item => { %>
                                <tr>
                                    <td width="10%">
                                        <img id="preview" src="<%= item.Photo %>" class="img-fluid img-thumbnail" alt="Image preview...">
    
                                    </td>
                                    <td>
                                        <%= item.Title %>
                                        <br />
                                        <i><%= item.Slug %></i>
                                    </td>
    
                                    <td>
                                        <%= item.Tags %>
                                    </td>
    
                                    <td>
                                       <%= item.Summary %>
                                    </td>
                                    <td style="width: 1%;white-space: nowrap;">
                                        <a class="text-primary" href="/admin/normativity/edit/<%= item.UniqueId %>"><i class="fa-solid fa-pen-to-square"></i> Editar</a> |
                                        <form id="deleteForm<%= item.UniqueId %>" style="display: inline;">
                                            <input type="hidden" name="UniqueId" value="<%= item.UniqueId %>" />
                                            <a type="button" class="text-danger btn-link delete-btn" onclick="confirmDelete('<%= item.UniqueId %>')"><i class="fa-solid fa-trash"></i> Eliminar</a>
                                        </form>
                                        <script>
                                            async function confirmDelete(UniqueId) {
                                                if (confirm('¿Estás seguro de que deseas eliminar esta norma?')) {
                                                    try {
                                                        const response = await fetch(`/admin/normativity/delete/${UniqueId}`, {
                                                            method: 'DELETE'
                                                        });
                                                        if (response.ok) {
                                                            // Realizar acciones adicionales después de la eliminación si es necesario
                                                            // Por ejemplo, actualizar la interfaz o recargar la página
                                                            location.reload();
                                                        } else {
                                                            console.error('Error al eliminar la norma');
                                                        }
                                                    } catch (error) {
                                                        console.error('Error al eliminar la norma:', error);
                                                    }
                                                }
                                            }
                                        </script>
                                    </td>
                                </tr>
                                <% }) %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>